/* CSS declarations go here */
@global-font: "Palatino Linotype", "Book Antiqua", Palatino, serif;

body {
	font-family:@global-font;
	margin:0;
	padding:133px 0 0 0;

	/*mobile*/
	@media only screen and (max-width: 320px) {
		padding:119px 0 0 0;
	}
}

h3 {
	margin-top:5px;
}
.container-fluid {
	margin:0;
	padding:0 50px;;
	width:100%;

	/*desktop*/
	@media only screen and (min-width: 767px) {

	}

	/*tablet*/
	@media only screen and (min-width:720px) and (max-width: 767px) {
		
	}

	/*mobile*/
	@media only screen and (max-width: 720px) {
		.p0;
	}

	.container-fluid-slideshow {
		padding:0;
	}
}
.thumbnail {
	text-align:center;
}
.row {
	padding:20px 0;
	margin:0;
}
.center {
	margin:auto;
}
.p0 {
	padding:0;
}

.pt15 {
	padding-top:15px;
}
.pr0 {
	padding-right:0;
}
.pb20 {
	padding-bottom:20px;
}
.pl0 {
	padding-left:0;
}
.h200 {
	height:200px;
}

img {
	margin:auto;
}

.thumbnail-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}