h1.custom-header { 
	background-color: #bfefe3;
	background-image: url('https://s0.wp.com/wp-content/themes/pub/blissful-blog/images/bg_pattern.png');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: scroll;

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:3em;
	color:#333333;
	width:100%;
	height:auto;
	text-align:center;
	margin:0;
	padding:1em 0;
}